$accent: #0720FF;
$baseColor: #FAFAFA;
$baseColorEmphasis: #FFF;
$baseSubtle: #EEE;
$primary: #222;

$baseHorizontalPadding: 1rem;
$baseVerticalPadding: 1.5rem;

* {
  box-sizing: border-box;
  font-family: 'Courier', monospace;
  color: $primary;
}

body {
  background: $baseColor;
  font-size: 14px;
  line-height: 1.65;
  margin: 0;
}

a {
  color: $accent;
}

.header {
  background: $baseColorEmphasis;
  border-bottom: 1px solid $baseSubtle;
  display: flex;
  justify-content: space-between;
  padding: $baseVerticalPadding $baseHorizontalPadding;

  @media screen and (min-width: 45rem) {
    padding: $baseVerticalPadding $baseHorizontalPadding * 2;
  }

  .header__submit {
    margin: 0;
  }
}


.logo {
  width: 7.5rem;

  svg {
    width: 100%;
  }
}

.banner {
  background:
    linear-gradient(90deg, #FAFAFA 8px, transparent 1%) 95px 100px,
    linear-gradient(#FAFAFA 8px, transparent 1%),
    #DDD;
  background-size: 10px 10px;
  padding: 7.5rem 2.5rem;
  @media screen and (min-width: 45rem) {
    margin: 7.5rem 2.5rem;
  }
}

.banner-title {
  font-size: 2rem;
}

.banner-subtitle {
  width: 75%;
}

.features {
  @media screen and (min-width: 64rem) {
    display: flex;
    padding: 0 $baseHorizontalPadding * 2;
  }
}
.feature {
  padding: $baseVerticalPadding $baseHorizontalPadding;
  @media screen and (min-width: 45rem) {
    padding: $baseVerticalPadding $baseHorizontalPadding * 2;
  }
}

.feature-title {
  margin: 0 0 .5rem;
  font-weight: normal;
  font-size: 1.25rem;
}

.feature-description {
  margin: 0 0 .5rem;
}

.sign-in {
  padding: $baseVerticalPadding * 2 $baseHorizontalPadding;
  text-align: center;

  .sign-in__submit {
    width: 100%;
  }
}

.submit {
  background: $accent;
  border: 1px solid $baseSubtle;
  color: #FFF;
  display: block;
  height: 2.25rem;
  margin: 0 auto .5rem;
  max-width: 22.5rem;
  padding: .5rem 1rem;
  -webkit-appearance: none;
}

.newsletter {
  padding: $baseVerticalPadding * 2 $baseHorizontalPadding;
  text-align: center;
}

.newsletter-info {
  margin: 0 0 3rem;
}

.newsletter-form {
  margin: 0;
}

.newsletter-input {
  border: 1px solid $baseSubtle;
  display: block;
  height: 2.25rem;
  margin: 0 auto .5rem;
  max-width: 22.5rem;
  padding: .5rem 1rem;
  width: 100%;
  -webkit-appearance: none;

  &::placeholder {
    color: #CACACA;
  }
}

.newsletter-submit {
  background: $accent;
  border: none;
  color: white;
  padding: .75rem 1rem;
}

.page-content {
  padding: $baseVerticalPadding $baseHorizontalPadding;

  @media screen and (min-width: 45rem) {
    padding: $baseVerticalPadding $baseHorizontalPadding * 2;
  }
}

.hidden-visible-input {
  left: -5000px;
  position: absolute;
}

.footer {
  background: #FFF;
  border-top: 1px solid #EEE;
  margin-top: 2.5rem;
  padding: 1.5rem 1rem;
  @media screen and (min-width: 45rem) {
    padding: 1.5rem 1.5rem;
  }
  @media screen and (min-width: 64rem) {
    padding: $baseVerticalPadding $baseHorizontalPadding * 2;
  }
}

.footer-disclaimer {
  font-size: .75rem;
  margin: 2rem 1rem 0;
  text-align: center;
}

.footer-list {
  padding-left: 1rem;
  list-style: disclosure-closed;
}

.footer-list__item {
  &::marker {
    font-size: .75rem;
  }
}
